name: Flask CI-CD

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  test-and-deploy:
     runs-on: ubuntu-latest

     steps:
       - name: List all files
         run: |
             ls
