name: Flask CI-CD

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  test-and-deploy:
     runs-on: ubuntu-latest

     steps:
       - name: Checkout repository
         uses: actions/checkout@v4
         
       - name: List all files
         run: |
             ls -a
       - name: SSH into ec2
         run: |
            ssh -i ${{ secrets.SSH_KEY }} ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }} << 'EOF'
            set -e
            ls -a
            EOF
